# Python
.venv
.mypy_cache
.python-version
.pytest_cache
__pycache__
*.whl

# Mac OS
mise.toml
.DS_Store

# Temporary Files
dist/
maze.txt

# Output files
tmp*
*config*.txt
!config.txt

# 42 assets
maze_analyzer.py
en.subject.pdf
